<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Form Registrasi</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" >
        <link rel="stylesheet"type="text/css" href="../static/css/bootstrap-icons.css" >

        <link rel="stylesheet" type="text/css" href="../static/css/slick.css">

        <link rel="stylesheet"type="text/css" href="../static/css/art.css">
        
    </head>
    
    <body>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
    
        <main>

            <section class="sign-in-form section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 mx-auto col-12">

                            <section>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-8 col-11 mx-auto">
                                            <h1 class="hero-title text-center mb-5">Sign Up</h1>
                                            <!-- pesan flash -->
                                            {% with messages = get_flashed_messages(with_categories=true) %}
                                            {% if messages %}
                                                {% for category, message in messages %}
                                                    <!-- alert-->
                                                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                                        <strong> {{ message }}</strong>
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                        
                                            <form action="{{ url_for ('register')}}" method="post">
                                                <div class="form-floating mb-4">
                                                    <input type="text" name="username" id="username" autocomplete="off" class="form-control" placeholder="Username" required>
                                                    <label for="username">Username</label>
                                                </div>
                            
                                                <div class="form-floating mb-4">
                                                    <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" autocomplete="off" class="form-control" placeholder="Email address" required>
                                                    <label for="email">Email address</label>
                                                </div>
                            
                                                <div class="form-floating my-4">
                                                    <input type="password" name="password" id="password" pattern="[0-9a-zA-Z]{4,10}" autocomplete="off" class="form-control" placeholder="Password" required>
                                                    <small class="text-muted password-hint">* Masukkan minimal 4 huruf dan maksimal 10 huruf dengan kombinasi huruf kapital dan angka</small>
                                                    <label for="password">Password</label>
                                                </div>
                            
                                                <div class="form-floating">
                                                    <input type="password" name="confirm_password" id="confirm_password" pattern="[0-9a-zA-Z]{4,10}" class="form-control" placeholder="Password" required>
                                                    <label for="confirm_password">Password Confirmation</label>
                                                </div>
                            
                                                <button type="submit" class="btn custom-btn form-control mt-4 mb-3">Create account</button>
                            
                                                <p class="text-center">Already have an account? Please <a href="{{ url_for ('login')}}">Login</a></p>
                                                
                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            

        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-10 me-auto mb-4">
                        <h4 class="text-white mb-3"><a href="#">Amethyst</h4>
                        <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2024 <strong> Amethyst</strong></p>
                        <br>
                    </div>


                 

                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.bundle.min.js"></script>
        <script src="../static/js/Headroom.js"></script>
        <script src="../static/js/jQuery.headroom.js"></script>
        <script src="../static/js/slick.min.js"></script>
        <script src="../static/js/custom.js"></script>


    </body>
</html>
