body {
    background: linear-gradient(135deg, #88d2f9, #d2d2f9);
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.journal-box {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    padding: 40px;
    max-width: 500px;
    width: 100%;
}

.journal-title {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: #333;
}

input[type="date"],
textarea,
.btn-primary,
.btn-secondary {
    border: none;
    border-radius: 10px;
}

input[type="date"],
textarea {
    background-color: #f2f2f2;
    color: #333;
}

.btn-primary {
    background-color: #00adb5;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #028090;
}

.btn-secondary {
    background-color: #eeeeee;
    color: #333;
}

.btn-back {
    margin-top: 20px;
    display: inline-block;
}

.btn-back:hover {
    background-color: #cccccc;
}
